
#vocabulary-terms-list .sortable-item {
    background: #fefefe;
    padding: 4px 10px 4px 10px;
    font-size: 14px;
}

#vocabulary-terms-list .drawer-contents {
    background: #f7f7f7;
    border-width: 3px;
}

#vocabulary-terms-list .drawer-contents input[type=text] {
    width: 650px;
}

#vocabulary-terms-list .drawer-contents label {
    padding-bottom: 2px;
}

#vocabulary-terms-list li {
    margin-bottom: 6px;
}

.vocabulary-term-mapping {
    width: 110px;
    font-weight: bold;
    padding-left: 14px;
    display: inline-block;
}

.vocabulary-term-local,
.vocabulary-term-common {
    display: inline-block;
}

.vocabulary-term-local {
    text-align: right;
    width: 300px;
}

.vocabulary-term-common a {
    word-break: break-word;
}

.vocabulary-term-common a {
    color: rgba(38, 103, 196, 0.68);
}
