#add-vocabulary-term-button {
    float: right;
}

#vocabulary-terms-list {
    margin-top: 8px;
}

#vocabulary-terms-list .sortable-item {
    background: #fefefe;
    padding: 4px 10px 4px 10px;
    font-size: 14px;
}

#vocabulary-terms-list .drawer-contents {
    background: #f7f7f7;
    border-bottom-width: 3px;
}

#vocabulary-terms-list .drawer-contents input[type=text] {
    width: 50%;
}

#vocabulary-terms-list .drawer-contents label {
    padding-bottom: 2px;
}

.vocabulary-controls {
    display: flex;
    justify-content: space-between;
}

.vocabulary-drawer-buttons {
    display: flex;
    justify-content: space-between;
}

.vocabulary-drawer-buttons-left > button,
.vocabulary-drawer-buttons-right > button {
    margin-top: 8px !important;
}

#vocabulary-terms-list li {
    margin-bottom: 6px;
}

.vocabulary-term-mapping {
    width: 24px;
    font-weight: bold;
    padding-left: 14px;
    display: inline-block;
}

.vocabulary-term-left,
.vocabulary-term-right {
    display: inline-block;
    font-weight: bold;
}

.vocabulary-term-left {
    text-align: right;
    width: 300px;
}

body.vocabulary-terms-page .ui-autocomplete {
    max-height: 1000%;
    overflow-y: auto;
    overflow-x: hidden;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

body.vocabulary-terms-page .ui-autocomplete-loading {
    background: #d6d6d6;
}

body.vocabulary-terms-page .ui-menu .ui-menu-item {
    background-color: #f3f3f3;
}

body.vocabulary-terms-page .ui-autocomplete .ui-menu-item.ui-state-focus {
    background: rgba(0, 156, 255, 0.16);
}

#vocabulary-term-message {
    margin-bottom: 12px;
    color: #0057b5;
}

#vocabulary-term-input {
    width:100%;
    padding: 0 0;
    font-size: 130%;
}

/*
This modal dialog CSS was adapted from:
https://webdesign.tutsplus.com/tutorials/how-to-build-flexible-modal-dialogs-with-html-css-and-javascript--cms-33500
*/

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    background: rgba(0, 0, 0, 0.4);
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    transition: all 0.35s ease-in;
    z-index: 200;
}

.modal-dialog {
    position: relative;
    width: 80%;
    height: 80%;
    border-radius: 5px;
    background: #fff;
    overflow: auto;
    cursor: default;
}

.modal-dialog > * {
    padding: 1rem;
}

.modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #efefef;
    font-weight: bold;
    padding-top: 2px;
    padding-bottom: 2px;
}

.modal-header-title {
    font-size: 18px;
}

.modal div + div {
    margin-bottom: 1rem;
}

.modal {
    visibility: hidden;
    opacity: 0;
    transition: all 0.35s ease-in;
}

.modal.is-visible {
    visibility: visible;
    opacity: 1;
}

.vocabulary-chooser {
    margin-top: 6px;
    font-size: 16px;
    font-weight: bold;
}

.vocabulary-chooser-label {
    margin-top: 2px;
    font-size: 18px;
    font-weight: bold;
    padding-right: 4px;
}

@media screen and (max-width: 960px) {
    .vocabulary-term-mapping,
    .vocabulary-term-right {
        display: none;
    }
}
