:root {
    --selected-term: #d8cfb6;
    --term-link: #185c91;
    --term-link-hover: #479dff;
    --vocabulary-editor-message: #376b2e;
    --mapped-term: #777;
}

.vocabulary-controls {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
}

#add-vocabulary-term-button {
    float: right;
}

.vocabulary-view-toggle {
    padding-top: 8px;
    font-size: 110%;
}

.vocabulary-build-buttons {
    border-top: solid 1px #ccc;
    padding-top: 16px;
    margin-top: 24px;
}

#vocabulary-terms-list {
    margin-top: 8px;
}

#vocabulary-terms-list .sortable-item {
    background: #fefefe;
    padding: 4px 10px 4px 10px;
    font-size: 14px;
    border: 0;
}

#vocabulary-terms-list .drawer-contents {
    background: #f7f7f7;
    border: 2px solid var(--selected-term);
    border-bottom-width: 3px;
    margin-bottom: 3px;
}

#vocabulary-terms-list .drawer-contents input[type=text] {
    width: 50%;
}

#vocabulary-terms-list .drawer-contents label {
    padding-bottom: 2px;
}

.vocabulary-drawer-common-term {
    height: 28px;
}

.vocabulary-drawer-buttons {
    display: flex;
    justify-content: space-between;
}

.vocabulary-drawer-buttons-left > button,
.vocabulary-drawer-buttons-right > button {
    margin-top: 8px !important;
}

.drawer-message {
    color: red;
    font-weight: bold;
    font-size: 110%;
    padding: 2px 0 12px 0;
}

#vocabulary-terms-list li {
    margin-bottom: 0;
}

.vocabulary-term-header.selected {
    background-color: var(--selected-term) !important;
    margin-top: 8px;
}

.vocabulary-term-mapping {
    width: 80px;
    padding-left: 8px;
    display: inline-block;
}

.vocabulary-term-mapping span {
    color: #b72d2d;
}

#vocabulary-terms-list-header {
    font-weight: bold;
    font-size: 110%;
    color: black;
    margin-top: 12px;
    padding: 4px 0 4px 10px;
    border-top: solid 2px #acacac;
    border-bottom: solid 1px #acacac;
}

.vocabulary-term-left {
    display: inline-block;
    font-weight: bold;
    /*color: black;*/
    text-align: left;
    width: 700px;
}

.vocabulary-term-left a,
.vocabulary-term-left a:visited {
    /*text-decoration-line: underline;*/
    color: var(--term-link);
}

.vocabulary-term-left a:hover {
    color: var(--term-link-hover);
}

.vocabulary-term-left span {
    color: var(--mapped-term);
    font-weight: normal;
    padding-left: 8px;
}

.vocabulary-term-left span a,
.vocabulary-term-left span a:visited {
    /*text-decoration-line: underline;*/
    color: var(--term-link);
    font-weight: normal;
}

.vocabulary-term-left span a:hover {
    color: var(--term-link-hover);
}

.vocabulary-term-count {
    display: inline-block;
    float: right;
    padding-right: 24px;
}

.vocabulary-term-count a {
    width:32px;
    display: inline-block;
    text-align: right;
    padding: 0 8px;
    font-weight: bold;
    font-size: 110%;
    font-family: "Courier New";
}

.vocabulary-term-edit {
    float: right;
    padding-right: 8px;
}

.vocabulary-term-edit-icon::after {
    font-family: "FontAwesome";
    content: "\f044";
    font-size: 140%;
    float: right;
    cursor: pointer;
}

body.vocabulary-terms-page .ui-autocomplete {
    max-height: 1000%;
    overflow-y: visible;
    overflow-x: hidden;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

body.vocabulary-terms-page .ui-autocomplete-loading {
    background: #d6d6d6;
}

body.vocabulary-terms-page .ui-menu .ui-menu-item {
    background-color: #f3f3f3;
}

body.vocabulary-terms-page .ui-autocomplete .ui-menu-item.ui-state-focus {
    background: var(--selected-term);
}

#vocabulary-term-message {
    margin-bottom: 12px;
    padding-left: 4px;
    font-size: 110%;
    color: var(--vocabulary-editor-message);
}

#vocabulary-term-editor-message-area {
    color: var(--vocabulary-editor-message);
    font-size: 115%;
    margin: 4px 0;
    height: 24px;
}

#vocabulary-editor-busy {
    display: none;
    background: #3062a5;
    opacity: 0.80;
    color: white;
    font-size: 16px;
    padding: 12px 30px;
    max-width: 400px;
    z-index: 1000;
    border: #588caf solid 2px;
    border-radius: 15px;
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);}

#vocabulary-term-input {
    width:100%;
    font-size: 130%;
    padding: 10px 10px;
    margin: 5px 0;
    box-sizing: border-box;
}

#dialog-confirm-remove-term,
#dialog-confirm-update-term {
    display: none;
}

.vocabulary-tree {
    margin-top: 16px;
}

.vocabulary-node {
    font-family: "Courier New";
    font-size: 16px;
}

.node-level-1 {
    padding-left: 0;
}

.node-level-2 {
    padding-left: 25px;
}

.node-level-3 {
    padding-left: 50px;
}

.node-level-4 {
    padding-left: 75px;
}

.node-level-5 {
    padding-left: 100px;
}

.node-level-6 {
    padding-left: 125px;
}

/*
This modal dialog CSS was adapted from:
https://webdesign.tutsplus.com/tutorials/how-to-build-flexible-modal-dialogs-with-html-css-and-javascript--cms-33500
*/

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    background: rgba(0, 0, 0, 0.4);
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    transition: all 0.35s ease-in;
    z-index: 200;
}

.modal-dialog {
    position: relative;
    width: 80%;
    height: 80%;
    border-radius: 5px;
    background: #fff;
    overflow: auto;
    cursor: default;
}

.modal-dialog > * {
    padding: 1rem;
}

.modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #efefef;
    font-weight: bold;
    padding-top: 4px;
    padding-bottom: 4px;
}

.modal-header-title {
    font-size: 18px;
}

.modal div + div {
    margin-bottom: 1rem;
}

.modal {
    visibility: hidden;
    opacity: 0;
    transition: all 0.35s ease-in;
}

.modal.is-visible {
    visibility: visible;
    opacity: 1;
}

.vocabulary-chooser {
    margin-top: 6px;
    font-size: 16px;
    /*font-weight: bold;*/
}

.vocabulary-chooser-label {
    margin-top: 2px;
    font-size: 18px;
    font-weight: bold;
    padding-right: 4px;
}

/* When the screen is 1200px wide or less */
@media screen and (max-width: 1200px) {
    .vocabulary-term-left {
        width: 550px;
    }
}

/* When the screen is 960px wide or less */
@media screen and (max-width: 960px) {
    .vocabulary-term-left {
        width: 400px;
    }

    .vocabulary-term-mapping {
        display: none;
    }
}

/* When the screen is 768px wide or less */
@media screen and (max-width: 768px) {
    .vocabulary-term-left {
        width: 360px;
    }

    .vocabulary-term-count,
    .vocabulary-view-toggle {
        display: none;
    }

    #vocabulary-term-editor-message-area {
        height: 48px;
    }
}
